<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>run hello world by ng1</title>
    <script src="./lib/js/angular.min.js"></script>
</head>

<body>
    <div ng-controller="indexCtrl">
        <div ng-click="alert()">{{sayHi}}</div>
        <div class="phoneBox" ng-hide="myHide">
            <div class="phoneItem" ng-repeat="item in phoneData">
                <h2 class="name">{{item.name}}</h2>
                <b class="price">{{item.price|parseYuan:"￥":3}}</b>
                <!--<b class="price">{{item.price|currency : symbol}}</b>-->
            </div>
        </div>
    </div>
    <test-directive>
        <h2>你好吗天气好吗</h2>
    </test-directive>
    <div ng-controller="indexCtrl2">
        <div>{{sayHi}}</div>
        <div class="phoneBox">
            <div class="phoneItem" ng-repeat="item in phoneData">
                <i>{{$index}}</i>
                <h2 class="name">{{item.name}}</h2>
                <b class="price">{{item.price|parseYuan:"￥":3}}</b>
                <!--<b class="price">{{item.price|currency : symbol}}</b>-->
            </div>
        </div>
    </div>
    <script>
        var app = angular.module("myApp", []);
        //1控制器，在此处注入需要的服务，以及书写作用域变量类似于ng2中的metadata
        app.controller("indexCtrl", ["$scope", "testService", function($scope, testService) {
            $scope.sayHi = "hello world";
            $scope.phoneData = [{
                name: "HTC",
                price: 1230
            }, {
                name: "小米",
                price: 999
            }, {
                name: "魅族",
                price: 1299
            }, {
                name: "IPhone",
                price: 5400
            }];
            var myAlert = testService;
            myAlert.alert("你好");
            myAlert.setNum(3);
            $scope.myHide = false;
            $scope.alert = function() {
                alert(1);
                $scope.myHide = !$scope.myHide;
            }
        }]);
        app.controller("indexCtrl2", ["$scope", "testService", function($scope, testService) {
            $scope.sayHi = "hello world";
            $scope.phoneData = [{
                name: "2HTC",
                price: 1230
            }, {
                name: "2小米",
                price: 999
            }, {
                name: "2魅族",
                price: 1299
            }, {
                name: "2IPhone",
                price: 5400
            }];
            var myAlert = testService;
            myAlert.alert("欢迎来到ng1的世界");
            console.log(myAlert);
        }]);
        //2过滤器
        //创建自定义过滤器第一个参数绑定过滤器的名字，第二个参数是当前自定义过滤器的类，在angular中会实例化成一个单例，需要将操作函数返回出来
        //操作函数的三个参数分别对应该过滤器的过滤项，过滤类型，默认值(后两者分别对应html中过滤器名后的2个参数，在实际操作函数中使用)
        /*默认的系统过滤器介绍：  currency	格式化数字为货币格式。
                                filter	从数组项中选择一个子集。
                                lowercase	格式化字符串为小写。
                                orderBy	根据某个表达式排列数组。
                                uppercase	格式化字符串为大写。
          多组过滤器可以通过‘|’连续使用。
        */
        app.filter("parseYuan", function() {
            return function(amount, b, c) {
                console.log(amount, b, c);
                return b + '' + amount;
            }
        })

        //3 service服务
        //service是一个作用域单例，类似于ng2中的directive和injectable
        //有关服务，类似一个工具库一样的东西，框架中不建议直接操作dom，所以可以通过新建自定义的服务来达到各种各样的目的和实现通用功能
        //创建自定义服务方法，通过angular实例的service方法。这个实例化的服务可以在任意处调用。通过this.num在两个控制器里的返回值可知道
        //该服务是同一个实例,另通过全局变量uniqueNum也可证明service在控制器注入时，无论注入多少次，只引用相同的同一个实例
        //service函数的第一个参数代表了这个服务的名字，第二个参数代表具体这个类,是一个构造函数
        var uniqueNum = 0;
        app.service("testService", function() {
            this.num = 0;
            this.setNum = function(v) {
                console.log(v);
                this.num = v;
            }
            this.alert = function(str) {
                alert(str);
            }
            uniqueNum++;
        });
        //4 directive   自定义指令
        //类似于ng2中的Component+directive
        //模版在此模块下书写，返回对象的属性有restrict:选择器类比selector。他有四个值A(attribute)E(element)M(注释)C(class类名)
        //template,等同于ng2中component下的template(templateUrl),外部容器可通过replace控制显示与否
        //link函数这个函数作用相当于为这个新的组件设置了一个作用域控制器(controller)其三个参数分别是当前作用域对象，组件元素，组件属性节点
        //可通过link函数对该组件进行事件添加，类比原生js的代理函数，所以此组件可每次实例化的时候就带着事件
        //注意此处有坑，坑1：html标签对大小写不敏感，所以当使用元素选择器时推荐使用小写标签名防止出错，官方推荐使用驼峰命名指令名，所以标签
        //必须是a-b格式其对应的指令名即为aB并且推荐使用属性(A)方式声明指令，此举也是为了兼容
        //坑2:若要使用transclude属性(该属性的作用是将被选择标签的原有dom元素继续添加在新生成的模版字符串中)必须指定原有dom的插入位置，
        //若新位置想与模版字符串平级，可将replace设置为false,否则必须插入到模版字符串的内部结构中，两种方式都要通过ng-transclde指定到
        //具体元素上。
        app.directive("testDirective", function() {
            return {
                restrict: 'E',
                template: '<div class="template">Hi there</div><div ng-transclude></div>',
                // replace: true,
                transclude: true,
                link: function(scope, element, attr) {
                    console.log(scope, element, attr);
                    element[0].onclick = function() {
                        console.dir(this);
                        element.addClass("ppp");
                    }
                }
            }
        });

        //5 $http
        //此模块属于angular自带的模块需要在使用的时候直接将其注入到所需使用的controller中，属核心模块，不必在单独的module内注入，直接注入到
        //控制器即可，若需使用cookie，route等模块，由于ng1后续(包括1.2+)版本将模块分离，需要单独将各个模块引入到module中，官方内置固定模块形式
        //均以ng开头，例如route模块，引入到module中就是ngRoute，采用驼峰形式写法，也可引用第三方插件模块，名字需按照插件提供名称引入

        /*
        /&--------------------------------&/
        默认已经route模块路径写到页面中
        此时在angular.module的初始化时，需要填写angular.module("maApp",["ngRoute"])即可。
        
        */

        //6 route 
        //ng1和ng2以及所有的js框架的路由模块都是大同小异的，他们的作用都是将多页面的功能通过单页面的方式展现出来，来实现spa功能
        //在ng1中采用的是hash方式，兼容低版本浏览器，且不用后台相应的设置即可使用。ng2中也可采用此方式，设置路由的forRoot中的模块参数对象的
        //useHash属性设置为true即可。另，官方推荐ng2中使用restful方式实现路由，若选用此方式，需要后台人员配合，将服务器端解析设置为restful方式
        //ng1中的路由设置方式
        /*
            将路由模块引入到angular.module之后，会在这个angular的实例上挂载一个config方法，通过此方法设置该ng实例的路由模块，具体设置如下
            app.coonfig(["$routeProvide",function($routeProvider){
                $routeProvide.when("/",{template:"<div>这个是主页,或者默认页面。</div>"})
                             .when("/test",{template:"<div>这个是test页面</div>",controller:"testCtrl"})
                             .otherwise({redirectTo:"/"});
            }])


            具体的路由配置项：
            $routeProvider.when(url, {
                template: string,       //模版字符串
                templateUrl: string,    //模版地址
                controller: string, function 或 array,//控制器
                controllerAs: string,   //控制器另存为
                redirectTo: string, function,  //当url不匹配时跳转到
                resolve: object<key, function> //当前scope依赖模块
            });
        */
        //小坑，使用min文件时，建议所有的依赖注入都要写全名
        //路由的使用单单是设置上述是不能实现的，还需要一个路由插座(ng2的router-outlet)ng1中是任意元素上使用ng-view指令即可
        //此时路由器才算设置成功，但是官方提供的路由器只能实现单层路由，在ng1中要想实现多重路由，需要引入第三方插件ui-router
        //第三方插件ui-router的github地址：https://github.com/angular-ui/ui-router
    </script>
</body>

</html>